footer {
    background: #2c2c2c5c;
    padding: 40px;
    margin-top: 50px;
  }
footer .main-footer {
    max-width: 700px;
    padding: 20px;
    margin: auto;
}
footer .main-footer .logo {
    text-align: center;
}
footer .main-footer .nav-footer {
    margin-top: 40px;
    text-align: center;
}
footer .main-footer .social-footer {
    margin-top: 40px;
    text-align: center;
}
footer .main-footer .connector-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 40px;
}
footer .main-footer .developer {
    margin-top: 20px;
    text-align: center;
    color: #959595;
}
footer .main-footer .connector-footer .item {
    padding: 0 50px 30px 0;
    border-bottom: 1px solid #959595;
}

footer .main-footer .connector-footer .item:last-child {
    padding-right: 0;
}
footer .main-footer .connector-footer .item img {
    margin-right: 10px;
}
footer .main-footer .connector-footer .item a {
    color: #959595;
    vertical-align: bottom;
    text-decoration: none;
}
footer .main-footer .connector-footer .item a:hover {
    color: #FD6F00;
}
@media (max-width: 768px) {
    footer {
        padding: 20px;
        margin-top: 30px;
    }
}
@media (max-width: 700px) {
    footer .main-footer .connector-footer {
        flex-direction: column;
        align-items: center;
    }
    footer .main-footer .connector-footer .item {
        padding: 0 0px 30px 0;
        border-bottom: 0px;
        width: 100%;
        text-align: center;
    }
    footer .main-footer .connector-footer .item:last-child {
        border-bottom: 1px solid #959595;
    }
}
@media (max-width: 575px) {
    footer .main-footer .nav-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    a.nav-item {
        width: 50%;
        margin-right: 0 !important;
    }
    footer .main-footer .social-footer {
        margin-top: 30px;
    }
    footer .main-footer .nav-footer {
        margin-top: 30px;
    }
    footer .main-footer .connector-footer {
        margin-top: 30px;
    }
}